<div class="row">
  <div class="col-sm-1">
    <i class="glyphicon glyphicon-user glyphicon-2x"></i>
  </div>
  <div class="col-sm-11">
    <h4><%= Member.model_name.human(count: resource.members.count) %></h4>
    <table class="table table-striped table-hover">
      <tbody>
        <% resource.members.includes(:user).each do |member| %>
          <tr>
            <td>
              <%= image_tag member.user.avatar %>
              &nbsp;
              <%= member.user.email %>
            </td>

            <td>
              <span class="label label-primary">
                <%= t(member.role, scope: 'activerecord.attributes.member.roles') %>
              </span>
            </td>

            <td width="200" class="text-center">
              <% if policy(member).destroy? %>
                <%= link_to t('views.revoke_user_button'),
                          wallet_member_path(resource, member),
                          class: 'text-danger',
                          data: {
                            method: :delete,
                            confirm: t('views.destroy_confirm')
                          } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <% if policy(resource).invite? %>
        <tfoot>
          <tr>
            <td colspan="2"></td>
            <td width="200" class="text-center">
              <%= link_to t('views.add_member_button'),
                          new_wallet_member_path(resource) %>
            </td>
          </tr>
        </tfoot>
      <% end %>
    </table>
  </div>
</div>