<div class="row">
  <div class="col-sm-1">
    <i class="glyphicon glyphicon-cog glyphicon-2x"></i>
  </div>
  <div class="col-sm-11">
    <h4><%= SecureNote.model_name.human(count: resource.secure_notes.count) %></h4>
    <table class="table table-striped table-hover">
      <tfoot>
        <tr>
          <td></td>
          <td width="200" class="text-center">
            <%= link_to t('views.add_secure_note_button'), new_wallet_secure_note_path(resource) %>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <% if resource.secure_notes.any? %>
          <% resource.secure_notes.each do |s| %>
            <tr>
              <td><%= s.name %></td>
              <td width="200" class="text-center">
                <%= link_to t('views.show_button'),
                            '#', data: {
                                  toggle: 'popover',
                                  title: s.name,
                                  trigger: 'focus',
                                  placement: 'top',
                                  content: s.note
                                } %>

                &nbsp;
                <%= link_to t('views.edit_button'),
                            edit_wallet_secure_note_path(resource, s) %>
                &nbsp;

                <%= link_to t('views.delete_button'),
                            wallet_secure_note_path(resource, s),
                            class: 'text-danger',
                            data: {method: :delete,
                                   confirm: t('views.destroy_confirm')} %>

              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="2">
              <div class="text-muted"><%= t('.empty_secure_notes') %></div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>