<!DOCTYPE html>
<html>
<head>
  <title>Passwd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= 'devise_controller' if devise_controller? %> <%= controller_name %> <%= action_name %>">
<% if user_signed_in? %>
  <header class="container">
    <br/>
    <div class="row">
      <div class="col-sm-12 text-right">
        <p>
          Olá <%= current_user.email %>. <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn btn-default' %>
        </p>
      </div>
    </div>
  </header>
<% end %>

<div class="container">



  <% flash.each do |key, value| %>
    <p class="alert alert-info"><%= value %></p>
  <% end %>

  <%= yield %>

</div>

</body>
</html>
