<!DOCTYPE html>
<html>
<head>
  <title>Passwd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if user_signed_in? %>
  <p>Olá <%= current_user.email %>.</p>

  <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
<% end %>

<% flash.each do |key, value| %>
  <p class="alert alert-info"><%= value %></p>
<% end %>

<%= yield %>

</body>
</html>
